
body {
    background-color: rgb(220, 220, 220);
    font-family:'Courier New', Courier, monospace; 
}

h1 {
    margin: 1em;
}

#event {
    text-align: center;
    padding: 2em;
    margin: 0em 2em 0em 2em;
    font-size: 1em;
    
}

#army {
    text-align: center;
    padding: 0.5em;
    margin: 0em 2em 0em 2em;
    
}

#combat {
    text-align: center;
    padding: 2em;
    margin: auto;
    width: 50%;
    font-size: 1em;
}

.highlight {
    color: green;
    font-weight: bold;   
}

.highlight:hover {
    background-color: rgb(250, 250, 200);
}

.attack {
    color: red;
    font-weight: bolder;
}

.dmg {
    color: darkred;
    font-weight: bold;
}

.name {
    color: black;
    font-weight: bold;   
}

.nameA {
    color: red;
    
}

.nameB {
    color: rgb(0, 0, 255);
}

.name:hover {
    background-color: rgb(250, 250, 200);
}

.result {
    font-style: italic;
}

.col {
    float: left;
    width: 100%;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    text-decoration: underline;
}

h4 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table {
    display: inline-block;
}

table, tr, td {

    border: 1px solid;
    font-size: 1em;
    /*
    margin-left: auto;
    margin-right: auto;
    */
    text-align: center;
    padding: 1em;

}

ul {
    text-align: justify;
    list-style-type: square;
    display: inline-block;
}

ol {
    text-align: justify;
    list-style-type: upper-roman;
}

tr:hover {
    background-color: rgb(250, 250, 200);
}




